{% load static %}

<section id="about-us" class="page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 sm-mb-40">
                <div class="section-title">
                    <h6>Quem nós somos e o que nós fazemos</h6>
                    <h2 class="title-effect">Conheça-nos melhor.</h2>
                    <p>Nós realmente nos preocupamos com nossos usuários e nosso produto. Nós nos dedicamos a proporcionar a melhor experiência possível.</p>
                </div>
                <p>Vamos fazer algo grande descontos tomate juntos. <span class="theme-color" data-toggle="tooltip" data-placement="top" title="" data-original-title="Informacoes+">Demandai</span>  conseguir alguns, mas eles vão fazer isso. Para a realização da verdade, que é para algumas pessoas, mas porque eles não sabem como eles vão acusar as necessidades da queda</p>
                <div class="row mt-30">
                    <div class="col-md-6">
                        <ul class="list list-unstyled list-hand">
                            <li> Campus Paraíso</li>
                            <li> Campus Palmas </li>
                            <li> Campus Araguaína </li>
                            <li> Campus Dianópolis </li>
                            <li> Campus Lagoa da Confusão </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list list-unstyled list-hand">
                            <li> Campus Porto Nacional</li>
                            <li> Campus Gurupi</li>
                            <li> Campus Araguatins</li>
                            <li> Campus Colinas</li>
                            <li> Campus Pedro Afonso</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 xs-mt-30 xs-mb-30">
                <div class="owl-carousel" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">
                    <div class="item"><img class="img-fluid full-width" src="{% static 'images/demandai/campus-araguaina.jpg' %}" alt="">
                    </div>
                    <div class="item"><img class="img-fluid full-width" src="{% static 'images/demandai/campus-araguatins.jpg' %}" alt="">
                    </div>
                    <div class="item"><img class="img-fluid full-width" src="{% static 'images/demandai/campus-dianopolis.jpg' %}" alt="">
                    </div>
                    <div class="item"><img class="img-fluid full-width" src="{% static 'images/demandai/campus-gurupi.jpg' %}" alt="">
                    </div>
                    <div class="item"><img class="img-fluid full-width" src="{% static 'images/demandai/campus-palmas.jpg' %}" alt="">
                    </div>
                    <div class="item"><img class="img-fluid full-width" src="{% static 'images/demandai/campus-porto.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 xs-mb-30">
                <div class="feature-text m left-icon mt-60 xs-mt-20">
                    <div class="feature-icon">
                        <span class="ti-desktop theme-color" aria-hidden="true"></span>
                    </div>
                    <div class="feature-info">
                        <h5>Nossa empresa</h5>
                        <p>Mas porque eles não sabem como eles vão conseguir alguma dor pode ser melhorada</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 xs-mb-30">
                <div class="feature-text left-icon mt-60 xs-mt-0">
                    <div class="feature-icon">
                        <span class="ti-server theme-color" aria-hidden="true"></span>
                    </div>
                    <div class="feature-info">
                        <h5>Nossa missão</h5>
                        <p>Para a realização de algumas pessoas, porque não conhecem a dor, mas será reforçada</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-text left-icon mt-60 xs-mt-0">
                    <div class="feature-icon">
                        <span class="ti-heart theme-color" aria-hidden="true"></span>
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">Nós amamos</h5>
                        <p>Mas porque eles não sabem como lidar com a dor pode ser melhorado para alcançar algum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>