{% extends 'site/base.html' %}
{% load static %}
{% block header %}
    <header id="header" class="header default">
  <div class="menu" id="onepagenav" style="padding: 20px 20px 20px 100px;">
  <!-- menu start -->
   <a href="{% url 'home' %}">
                    <img src="{% static "images/demandai/logo-ifto.png" %}" style="height: 150px" alt="">
                </a>
  <!-- menu end -->
 </div>
</header>
    <section class="slider-parallax typer-banner bg-overlay-black-50 parallax" style="height: 30vh;background: url({% static 'images/demandai/campus_paraiso.jpg' %});">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
{#          <h1 style="color: white">{% block title %}Sobre o portifolio{% endblock %}</h1>#}
          <p></p>
        </div>
     </div>
     </div>
  </div>
</section>
{% endblock %}

{% block banner %}{% endblock %}
{% block contact %}{% endblock %}
{% block content %}{% endblock %}

