<div>
    <table align="center" cellpadding="0" cellspacing="0" style="width: 600px; font-size: 12px; border: 0; font-family: Arial,Helvetica,sans-serif; ">
    <tbody>
    <tr>
        <td style="background: #19882c;  color: #FFFFFF; padding: 20px;">
            <span style="font-size: 16px"><strong>Instituto Federal do Tocantins</strong></span><br>
            <span style="font-size: 10px">SECRETARIA DE EDUCAÇÃO PROFFISSIONAL E TECNOLÓGICA</span>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" style="border: 0;" cellpadding="0">
                <tbody>
                <tr>
                    <td style="width: 20px"></td>
                    <td style="width: 560px">
                        <table align="center" cellpadding="0" cellspacing="0" style="width: 100%; font-size:12px;margin-top:20px">
                            <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <p>Olá, {{ nome }}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <p>Prontinho! Registramos a sua demanda e logo estraremos em contato para dar continuidade na solução do seu problema.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Todos as informações relacionada a sua demanda são registradas no sistema e pode ser acompanhada pelo site ou vocẽ pode clicar no link a seguir para ter acesso direto ao histórico da demanda.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div align="center" style="width: 100%; margin-top: 20px;">
                            <a href="" style="padding: 10px 18px;font-size: 12px;background: #353535;letter-spacing: 1px;font-family: 'Montserrat', sans-serif;color: #ffffff;text-transform: uppercase;font-weight: 500;display: inline-block;border-radius: 3px;text-align: center;border: 2px solid #353535;cursor: pointer;">Acompanha demanda</a>
                        </div>
                        <table cellpadding="0" cellspacing="0" style="width: 100%; font-size:14px;border:1px solid #dddddd;color:#434242;margin-top:20px">
                            <tbody>
                                <tr height="50">
                                    <td width="145" align="center" style="border-right:1px solid #dddddd;font-size:16px">Descrição da demanda</td>
                                    <td width="145" align="center" style="border-right:1px solid #dddddd;font-size:16px">O que demandou?</td>
                                    <td width="145" align="center" style="border-right:1px solid #dddddd;font-size:16px">Quem demandou?</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-size:12px;border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;color:#434242">
                            <tbody>
                                <tr height="80" style="background:#eeeeee;border-right:1px solid #dddddd">
                                    <td width="145" align="center">sssssssssss</td>
                                    <td width="145" align="center">sssssssssss</td>
                                    <td width="145" align="center">sssssssssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                     <td style="width: 20px"></td>
                </tr>
                </tbody>
            </table>

        </td>

    </tr>
    </tbody>
</table>
</div>