<div>
    <table align="center" cellpadding="0" cellspacing="0"
           style="width: 600px; font-size: 12px; border: 0; font-family: Arial,Helvetica,sans-serif; ">
        <tbody>
        <tr style="background: #19882c;">
            <td style="color: #FFFFFF; padding-left: 15px;">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <img src="http://{{ domain }}/media/img_demandai/logo.png" alt="">
                        </td>
                        <td style="padding-left: 5px">
                            <span style="font-size: 16px"><strong>INSTITUTO FEDERAL DO TOCANTINS</strong></span><br>
                            <span style="font-size: 10px">SECRETARIA DE EDUCAÇÃO PROFFISSIONAL E TECNOLÓGICA</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" style="border: 0;" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="width: 20px"></td>
                        <td style="width: 560px">
                            <table align="center" cellpadding="0" cellspacing="0"
                                   style="width: 100%; font-size:12px;margin-top:20px">
                                <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <p>Olá, {{ nome }}</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <p>Prontinho! Nós registramos a sua demanda! Agora, basta aguardar um pouquinho
                                                que nós entraremos em contato por e-mail para
                                                dar continuidade na solução do seu problema.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Todas as informações relacionadas a sua demanda são registradas no sistema. Você pode
                                        acompanhadar o status da sua demanda pelo site, clique no link a seguir para ter acesso
                                        direto ao histórico da sua demanda.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div align="center" style="width: 100%; margin-top: 20px;">
                                <a href="http://{{ domain }}{% url 'demand_detail'%}?email={{email}}&codigo={{ codigo }}"
                                   style="padding: 10px 18px;font-size: 12px;background: #353535;letter-spacing: 1px;font-family: 'Montserrat', sans-serif;color: #ffffff;text-transform: uppercase;font-weight: 500;display: inline-block;border-radius: 3px;text-align: center;border: 2px solid #353535;cursor: pointer;text-decoration:none;">Acompanhar
                                    demanda</a>
                            </div>
                            <table cellpadding="0" cellspacing="0"
                                   style="width: 100%;background:#eeeeee; font-size:14px;border:1px solid #dddddd;color:#434242;margin-top:20px">
                                <tbody>
                                <tr height="50">
                                    <td width="250" align="center"
                                        style="border-right:1px solid #dddddd;font-size:16px">Descrição da demanda
                                    </td>
                                    <td width="185" align="center"
                                        style="border-right:1px solid #dddddd;font-size:16px">O que foi demandado
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0"
                                   style="width: 100%; font-size:12px;border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;color:#434242">
                                <tbody>
                                <tr height="80" style="border-right:1px solid #dddddd">
                                    <td width="250" style="padding: 8px;">{{ descricao }}</td>
                                    <td width="185" align="center" style="padding: 8px;">{{ action }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 20px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0"
                       style="border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd; background:#eeeeee;margin-top: 20px; padding: 5px">
                    <tbody>
                    <tr>
                        <td style="text-align: center">
                            <span>IFTO.</span><br>
                            <span>Nome do Diretor - Diretor </span><br>
                            <span>Atenciosamente, </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
