{% extends 'site/about_portifolio.html' %}
{% load staticfiles %}
{% block title %}

{% endblock %}

{% block content %}
<section class="error-03 page-section-pt">
     <div class="container">
      <div class="row justify-content-center">
       <div class="col-lg-6">
         <div class="error-image text-center">
            <img class="img-fluid d-block" src="{% static 'images/error/error.png' %}" alt="" >
         </div>
        </div>
       </div>
     </div>
  </section>

{% endblock %}
{% block contact %}{% endblock %}
