{% extends 'site/about_portifolio.html' %}
{% load staticfiles %}
{% block title %}

{% endblock %}

{% block content %}
<section class="error-03 page-section-pt">
     <div class="container">
      <div class="row">
       <div class="col-lg-6 sm-mb-40">
         <div class="content">
           <h2>OOOOPPPSSSSS!!!</h2>
           <h1>Ocorrou algo</h1>
           <p>Não foi possível continuar! Não se preocupe, às vezes acontece até para o melhor de nós:)</p>
         </div>
       </div>
       <div class="col-lg-6">
         <div class="error-image text-right">
            <img class="img-fluid d-block" src="{% static 'images/error/error.png' %}" alt="">
         </div>
        </div>
       </div>
     </div>
  </section>

{% endblock %}
{% block contact %}{% endblock %}
