{% load static %}


<footer class="footer page-section-pt black-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-6 sm-mb-30">
                <div class="footer-useful-link footer-hedding">
                    <h6 class="text-white mb-30 mt-10 text-uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Navegação</font></font></h6>
                    <ul>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Início</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Serviços</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Portifólio</font></font></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 sm-mb-30">
                <div class="footer-useful-link footer-hedding">
                    <h6 class="text-white mb-30 mt-10 text-uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Link Útil</font></font></h6>
                    <ul>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Como funciona</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Demandar</font></font></a></li>
                        <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Buscar soluções</font></font></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 xs-mb-30">
                <h6 class="text-white mb-30 mt-10 text-uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contate-Nos</font></font></h6>
                <ul class="addresss-info">
                    <li><i class="fa fa-map-marker"></i> <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Distrito Agroindustrial, BR 153, KM 480 </font></font></p> </li>
                    <li><i class="fa fa-phone"></i><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(63) 3361-0300  </font></font></span> </a> </li>
                    <li><i class="fa fa-envelope"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">suporte@demandai.com.br</font></font></li>
                </ul>
            </div>
        </div>
        <div class="footer-widget mt-20">
            <div class="row">
                <div class="col-xl-6 col-md-10">
                    <img src="{% static "images/demandai/demandai-logo.png" %}" style="height: 100px" alt="">
                    <div class="footer-text">
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© Copyright </font><span id="copyright"><font style="vertical-align: inherit;"> </font></span><a href="#"><font style="vertical-align: inherit;"> Demandai</font></a><font style="vertical-align: inherit;"> Todos os direitos reservados</font></font><span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script><font style="vertical-align: inherit;"></font></span> <a href="#"><font style="vertical-align: inherit;"></font></a><font style="vertical-align: inherit;"></font></p>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 text-left text-md-right">
                    <div class="social-icons color-hover mt-10">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>