

{% load static %}
<header id="header" class="header default">
  <div class="menu" id="onepagenav">
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container">
      <div class="row">
       <div class="col-lg-12 col-md-12">
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
{#                <img src="{% static "images/demandai/demandai-logo.png" %}" alt="">#}
                <a href="index-01.html"><h1 class="text-success">DEMANDAI</h1></a>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
         <ul class="menu-links">
            <li class="active"><a href="#homesection">Inicio</a></li>
            <li><a href="#about-us">Sobre</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact-us">Contato</a></li>
            <li><a style="cursor:pointer;" data-toggle="modal" data-target="#loginModal">Login</a></li>
          </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>
