<!--=================================
modal -->
{% load static %}
<!--=================================
modal -->

 <section class="white-bg">
  <div class="container">
     <div class="row">
        <div class="col-lg-12">
{#         <div class="modal-onload" data-target="#loginModal"></div>#}
          <div class="modal" id="loginModal">
             <div class="modal-dialog modal-dialog-centered">
             <div class="login-bg clearfix">
               <div class="login-title text-center">
                 <h2 class="text-white mb-0">Login to your Account</h2>
                </div>
                 <div class="login-form">
                   <div class="section-field mb-20">
                     <label class="mb-10" for="name">User name* </label>
                       <input id="name" class="web form-control" type="text" placeholder="User name" name="web">
                    </div>
                    <div class="section-field mb-20">
                     <label class="mb-10" for="Password">Password* </label>
                       <input id="Password" class="Password form-control" type="password" placeholder="Password" name="Password">
                    </div>
                    <div class="section-field">
                      <div class="remember-checkbox mb-30">
                         <input type="checkbox" class="form-control" name="two" id="two" />
                         <label for="two"> Remember me</label>
                         <a href="password-recovery.html" class="float-right">Forgot Password?</a>
                        </div>
                      </div>
                      <a href="#" class="button">
                        <span>Log in</span>
                        <i class="fa fa-check"></i>
                     </a>
                   </div>
                  <div class="login-social text-center clearfix">
                    <h4 class="theme-color mb-30">Login with Social media</h4>
                    <ul>
                        <li><a class="fb" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i> google+</a></li>
                    </ul>
                  </div>
               </div>
             </div>
          </div>
        </div>
     </div>
  </div>
 </section>

 <!--=================================
modal -->