
    <!--=================================
modal -->
    {% load static %}
    <!--=================================
modal -->
    <style>
        .modal-dialog {
            min-height: calc(100vh - 200px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: auto;
            width: 430px;
        }

        @media(max-width: 768px) {
            .modal-dialog {
                min-height: calc(100vh - 200px);
            }
        }
       
    </style>
    <section>
        <div class="container">
            <div class="col-lg-12">
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content login-bg clearfix">
                            <div class="login-title text-center">
                                <h2 class="text-white mb-0">Faça login na sua conta</h2>
                            </div>
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                            <div class="login-form">
                                <div class="form-row mb-20">
                                    <label class="mb-10" for="name">E-mail* </label>
                                    <input type="text" name="email" class="web form-control" placeholder="example@example.com" maxlength="254" id="id_email">

                                </div>
                                <div class="form-group mb-20">
                                    <label class="mb-10" for="Password">Senha* </label>
                                    <input type="password" name="password" class="Password form-control" placeholder="senha" maxlength="128" required="" id="id_password">
                                </div>
                                <div class="form-group">
                                    <div class="remember-checkbox mb-30">
                                        <input type="checkbox" class="form-control" name="conection_permanent" id="two" />
                                        <label for="two"> Lembrar-me</label>
                                        <a href="#" class="float-right">Esqueceu sua senha?</a>
                                    </div>
                                </div>
                                <button type="submit" class="button btn-block mt-10">
                                    <span>Acessar </span>
                                    <i class="fa fa-check"></i>
                                </button>

                            </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="col-lg-12">
                <div class="modal fade" id="consultarDemanda" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content login-bg clearfix">
                            <div class="login-title text-center">
                                <h2 class="text-white mb-0">Consultar Demanda</h2>
                            </div>
                            <form action="{% url 'demand_detail' %}" method="get">
                                {% csrf_token %}
                            <div class="login-form">
                                <div class="form-row mb-20">
                                    <label class="mb-10" for="email">E-mail </label>
                                    <input type="email" name="email" class="web form-control" placeholder="example@example.com" id="email" required>

                                </div>
                                <div class="form-group mb-20">
                                    <label class="mb-10" for="Password">Codigo </label>
                                    <input type="text" name="codigo" class="Password form-control" placeholder="XX00X0" maxlength="128" required="" id="id_codigo">
                                </div>

                                <button type="submit" class="button btn-block mt-10">
                                    <span>Consultar </span>
                                    <i class="fa fa-check"></i>
                                </button>

                            </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
