{% load static %}
<section id="portfolio" class="portfolio white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h6>Surpreenda-se</h6>
                    <h2 class="title-effect">Portfólio</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pb-20 xs-mt-20">
            <div class="col-md-5">
                <input type="search" class="form-control" placeholder="Busque algo de seu interesse">
            </div>
            <div class="col-md-2">
                <a class="button btn-block" href="#">Buscar</a>
            </div>
        </div>
        <div class="isotope-filters">
            <button data-filter="" class="active">Todos</button>
            <button data-filter=".ser">Serviços</button>
            <button data-filter=".lab">Laboratórios</button>
            <button data-filter=".equ">Equipamentos</button>
        </div>

        <div class="isotope popup-gallery columns-3">
            {% for portifolio in dados.lista_portifolio.servicos %}

                <div class="grid-item ser ">
                    <div class="portfolio-item-2">
                        <img src="{% static 'images/portfolio/small/001.jpg' %}" alt="">
                        <div class="portfolio-hover">
                            <div class="hover-name">
                                <span> With some description</span>
                                <a href="{% url 'about_portifolio' action='ser' id=portifolio.id %}">{{ portifolio.nome }}</a>
                            </div>
                            <div class="hover-icon">
                                <a class="portfolio-img" href="{% static 'images/portfolio/small/01.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% for portifolio in dados.lista_portifolio.laboratorios %}

                <div class="grid-item lab ">
                    <div class="portfolio-item-2">
                        <img src="{% static 'images/portfolio/small/01.jpg' %}" alt="">
                        <div class="portfolio-hover">
                            <div class="hover-name">
                                <span> With some description</span>
                                <a href="{% url 'about_portifolio' action='lab' id=portifolio.id %}">{{ portifolio.nome }}</a>
                            </div>
                            <div class="hover-icon">
                                <a class="portfolio-img" href="{% static 'images/portfolio/small/01.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% for portifolio in dados.lista_portifolio.equipamentos %}

                <div class="grid-item equ ">
                    <div class="portfolio-item-2">
                        <img src="{% static 'images/portfolio/small/01.jpg' %}" alt="">
                        <div class="portfolio-hover">
                            <div class="hover-name">
                                <span> With some description</span>
                                <a href="{% url 'about_portifolio' action='equ' id=portifolio.id %}">{{ portifolio.nome }}</a>
                            </div>
                            <div class="hover-icon">
                                <a class="portfolio-img" href="{% static 'images/portfolio/small/01.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        {#    <div class="row">#}
        {#      <div class="col-lg-12 col-md-12 text-center mt-30">#}
        {#          <a href="#" class="button icon">View all projects <i class="fa fa-angle-right"></i></a>#}
        {#      </div>#}
        {#    </div>#}
    </div>
</section>
