{% load static %}

<section class="page-section-ptb parallax" style="background: url({% static 'images/demandai/etapas.png' %}); border-bottom: 2px solid #84ba3f; background-color: rgba(0,0,0, 0.3);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="counter text-white">
                    <span class="icon ti-face-smile theme-color" aria-hidden="true"></span>

                </div>

            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="counter text-white">
                    <span class="icon ti-desktop theme-color" aria-hidden="true"></span>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 xx-mb-30">
                <div class="counter text-white">
                    <span class="icon ti-check-box theme-color" aria-hidden="true"></span>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter text-white">
                    <span class="icon ti-user theme-color" aria-hidden="true"></span>

                </div>
            </div>
        </div>
    </div>
</section>
