{% extends 'site/about_portifolio.html' %}
{% block content %}
    <div class="container">
        <div class="blog-comments mt-40 col-md-12 col-lg-12">
            <div class="comments-1">

                <div class="comments-info col-md-12 col-lg-12">
                    <div class="port-post-social float-right">
                        <span> Solicitada em {{ dados.demanda.created_at }}</span>
                    </div>
                    <h4 class="theme-color">Olá Senhor(a) {{ dados.demanda.nome }} </h4>
                    <p>Sua demanda no {{ dados.demanda.get_action_display }} <strong> {{ dados.action.nome }}</strong> foi entregue a nós!</p>
                    <p><strong>Descrição:</strong> {{ dados.demanda.descricao }}</p>
                    <p><strong>Status: </strong><span class="badge badge-pill badge-info">{{ dados.demanda.get_status_display }}</span></p>
                    <div class="port-post-social float-right">
                        <span>Atualizado {{ dados.demanda.updated_at }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block contact %}{% endblock %}