{% extends 'administrador/base.html' %}
{% load static %}
{% block content %}

    <section id="blog" class="our-blog page-section-ptb">

        <div class="container-fluid">
            <div class="blog-comments mt-40 col-md-12 col-lg-12">
                <div class="comments-1">

                    <div class="comments-info col-md-12 col-lg-12">

                        <div class="port-post-social float-right">
                            <span> Solicitada em {{ dados.demanda.created_at }}</span>
                        </div>
                        <h4 class="theme-color">Demanda do Sr(a) {{ dados.demanda.nome }} </h4>
                        <p><strong>E-mail:</strong> {{ dados.demanda.email }}</p>
                        <p><strong>Contato:</strong> {% if dados.demanda.telefone != "" %} {{ dados.demanda.telefone }} {% else %} Numero não registrado!{% endif %}</p>
                        <p><strong>Descrição:</strong> {{ dados.demanda.descricao }}</p>
                        <p><strong>Status: </strong><span class="badge badge-pill badge-{{ dados.demanda.status.badge }}">{{ dados.demanda.status.titulo }}</span></p>
                        <p><strong>Tempo de solicitação: </strong><span class="badge badge-pill badge-warning">{{ dados.demanda.tempo_solicitacao }} dias atrás</span></p>
                        <p><strong>Documentos em anexo: </strong> <a href="{% url 'download_arquivos' %}?path={{ dados.demanda.id }}" target="_blank"><i class="fa fa-download"></i> clique aqui para baixar <i class="fa fa-download"></i></a></p>
                        <p><strong>Departamento: </strong>  {{ dados.demanda.setor.nome }}</p>
                        <p><strong>Responsável: </strong>  {{ dados.demanda.setor.responsavel }}</p>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {#                    <h3 class="mb-30">Table hover </h3>#}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Status</th>
                                        <th>Resposta</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for demandcallback in dados.demanda.demand_callbak %}
                                        <tr>
                                            <td>{{ demandcallback.created_at|date:"d/m/Y H:i" }}</td>
                                            <td><span class="badge badge-pill badge-{{ demandcallback.badge }}">{{ demandcallback.status }}</span></td>
                                            <td>{{ demandcallback.feedback }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="port-post-social float-right">
                            <span>Atualizado {{ dados.time_now }}</span>
                        </div>
                    </div>
                </div>
<a href="{% url 'prospeccao' %}" class="btn btn-danger ">Voltar</a>
                        <a class="btn btn-info " style="font-size: 0.800rem;" href="{% url 'encaminhar-demanda' action=dados.demanda.action id=dados.demanda.id %}">Encaminhar  <i class="fa fa-angle-right"></i></a>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
{% endblock %}