<div>
    <table align="center" cellpadding="0" cellspacing="0"
           style="width: 600px; font-size: 12px; border: 0; font-family: Arial,Helvetica,sans-serif; ">
        <tbody>
        <tr style="background: #19882c;">
            <td style="color: #FFFFFF; padding-left: 15px;">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <img src="http://{{ domain }}/media/img_demandai/logo.png" alt="">
                        </td>
                        <td style="padding-left: 5px">
                            <span style="font-size: 16px"><strong>INSTITUTO FEDERAL DO TOCANTINS</strong></span><br>
                            <span style="font-size: 10px">SECRETARIA DE EDUCAÇÃO PROFFISSIONAL E TECNOLÓGICA</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" style="border: 0;" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="width: 20px"></td>
                        <td style="width: 560px">
                            <table align="center" cellpadding="0" cellspacing="0"
                                   style="width: 100%; font-size:12px;margin-top:20px">
                                <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <p>Olá, {{ nome }}</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <p>Você acaba de receber uma mensagem sobre sua demanda!</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ texto }}
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 20px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0"
                       style="border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd; background:#eeeeee;margin-top: 20px; padding: 5px">
                    <tbody>
                    <tr>
                        <td style="text-align: center">
                            <span>IFTO.</span><br>
                            <span>Nome do Diretor - Diretor </span><br>
                            <span>Atenciosamente, </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
