{% extends 'administrador/base.html' %}
{% block title %}Acesso Administrativo{% endblock %}

{% block content %}
    <section class="page-section-ptb parallax">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="fa fa-smile"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.servicos }}" data-speed="2000">{{ dados.servicos }}</span>
                    <h6 class="text-white">Serviços</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white"><i class="fa fa-desktop"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.laboratorios }}" data-speed="3000">{{ dados.laboratorios }}</span>
                    <h6 class="text-white">Laboratorios</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 xx-mb-30">
                 <div class="box bg-danger text-center">
                    <h1 class="font-light text-white"><i class="fa fa-check-circle"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.equipamentos }}" data-speed="4000">{{ dados.equipamentos }}</span>
                    <h6 class="text-white">Equipamentos</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                 <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="fa fa-user"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.profissionais }}" data-speed="5000">{{ dados.profissionais }}</span>
                    <h6 class="text-white">Profissionais Capacitados</h6>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}