{% extends 'administrador/base.html' %}
{% block title %}Acesso Administrativo{% endblock %}

{% block content %}
    <section class="page-section-ptb parallax">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="fa fa-smile"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.Total_servicos }}" data-speed="2000">{{ dados.Total_servicos }}</span>
                    <h6 class="text-white">Serviços</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white"><i class="fa fa-desktop"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.Total_laboratorios }}" data-speed="3000">{{ dados.Total_laboratorios }}</span>
                    <h6 class="text-white">Laboratorios</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 xx-mb-30">
                 <div class="box bg-danger text-center">
                    <h1 class="font-light text-white"><i class="fa fa-check-circle"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.Total_equipamentos }}" data-speed="4000">{{ dados.Total_equipamentos }}</span>
                    <h6 class="text-white">Equipamentos</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                 <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="fa fa-user"></i></h1>
                    <span class="timer text-white" data-to="{{ dados.Total_profissionais }}" data-speed="5000">{{ dados.Total_profissionais }}</span>
                    <h6 class="text-white">Profissionais Capacitados</h6>
                </div>
            </div>
        </div>
        <br>

        <!-- SOLICITAÇÃO -->
            {% if user.permissions_for_menu_count == 0 %}
            <div class="card">
                <form class="form-horizontal" action="{% url 'permission.solicitacao' %}" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <h4 class="card-title">SOLICITAÇÃO DE PERMIÇÕES</h4>
                        <div class="form-group row">
                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Descreva as permissões necessarias:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="descricao" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        <!-- END_SOLICITAÇÃO -->
        <!-- SERVICOS -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">SERVIÇOS OFERTADOS</h5>
                    </div>
                    <table id="zero_config" class="table">
                      <thead>
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">Descrição</th>
                          <th scope="col">Servidores que recebem essa demanda</th>
                          <th scope="col">#</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for servico in dados.servicos %}
                            <tr>
                              <th scope="row"><b>{{servico.nome}}</b></th>
                              <td>{{servico.descricao}}</td>
                              <td>
                                  {% for userr in dados.userservice %}
                                      {% if userr.service_id == servico.id %}
                                        <b>{{ userr.profile.username }}, </b><br>
                                      {% endif %}
                                  {% endfor %}
                              </td>
                              <td>
                                  <a href="{% url 'service.receber' servico.id %}" class="btn btn-success">Receber demandas</a><br>
                                  {% for userr in dados.userservice %}
                                      {% if userr.service_id == servico.id and userr.profile_id == user.id %}
                                          <a href="{% url 'service.cancelar' servico.id %}" class="badge badge-danger">Cancelar recebimento</a>
                                      {% endif %}
                                  {% endfor %}
                              </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END_SERVICOS -->
    </div>
</section>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.services').each(function () {

            })
        })
    </script>
{% endblock %}