{% extends 'administrador/base.html' %}
{% block title %}Acesso Administrativo{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h2><i class="fa fa-lightbulb"></i>  Laboratorios</h2>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card">
                {% if dados %}
                    <form class="form-horizontal" method="POST" action="{% url 'laboratory.editar' dados.id %}">
                {% else %}
                    <form class="form-horizontal" method="POST" action="{% url 'laboratory.cadastro' %}">
                {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">Adicionar/Editar Laboratorio</h4>
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <a href="{% url 'laboratory' %}" class="btn btn-danger">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}