{% extends 'administrador/encaminhar_demanda' %}
{% block title_em %}{% endblock %}
{% block lista %}
    <table id="table_id" class="table table-hover">
        <thead>
        <tr>
            <th>Solicitada</th>
            <th>Setor</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for demanda in dados %}
            <tr>
                <td>{{ demanda.created_at|date:"d/m/Y" }}</td>
                <td>{{ demanda.action.nome }}</td>
                <td>{{ demanda.action.profile.nome }}</td>
                <td class="{% if demanda.visualizada %}text-success {% else %} text-danger {% endif %}"><i class="{% if demanda.visualizada %}fa fa-2x fa-check {% else %} fa fa-2x fa-times {% endif %}"></i></td>
                <td><span class="badge badge-{{ demanda.badge }} badge-pill">{{ demanda.status }}</span></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ações
                        </button>
                        <div class="dropdown-menu font-dropdown-acoes" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-info " style="font-size: 0.800rem;" href="#">Encaminhar para <i class="fa fa-angle-right"></i></a>
                            <a class="dropdown-item" style="font-size: 0.800rem;" href="#">Responde Solicitante</a>
                            <a class="dropdown-item text-danger" style="font-size: 0.800rem;" href="#">Cancelar <i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable({
                paging: false,
                scrollY: 500,
                oLanguage: {
                    sLengthMenu: "Mostrar _MENU_ registros por página",
                    sZeroRecords: "Nenhum registro encontrado",
                    sInfo: "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                    sInfoEmpty: "Mostrando 0 / 0 de 0 registros",
                    sInfoFiltered: "(filtrado de _MAX_ registros)",
                    sSearch: "Pesquisar: ",
                    oPaginate: {
                        "sFirst": "Início",
                        "sPrevious": "Anterior",
                        "sNext": "Próximo",
                        "sLast": "Último"
                    }
                },
                "aaSorting": [[0, 'desc']],
            });
        });
    </script>
{% endblock %}