{% extends 'administrador/encaminhar_demanda.html' %}
{% block title_em %}Laboratórios disponíveis{% endblock %}
{% block lista %}
    <table id="table_id" data-order='[[ 0, "desc" ]]' class="table table-hover">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Responsalvel</th>
        <th>Disponibilidade</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for action in dados %}
        <tr>
            <td>{{ action.nome }}</td>
            <td>{{ action.responsavel }}</td>
            <td class="{% if not action.status %}text-success {% else %} text-danger {% endif %}">
                <i class="{% if not action.status %}fa fa-2x fa-check {% else %} fa fa-2x fa-times {% endif %}"></i>
            </td>
            <td>
                <div class="dropdown">
                    <form method="get" action="{% url 'encaminhar-d-action' %}">
                        <input type="hidden" name="action" value="{{ action.action }}"/>
                        <input type="hidden" name="id" value="{{ action.id }}"/>
                        <input type="hidden" name="id_demanda" value="{{ id_demanda }}"/>
                        <button class="btn btn-info btn-sm" type="submit">
                            Encaminhar <i class="fa fa-send"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="{% url 'prospeccao' %}" class="btn btn-danger">Voltar</a>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable({
                paging: false,
                scrollY: 300,
                oLanguage: {
                    sLengthMenu: "Mostrar _MENU_ registros por página",
                    sZeroRecords: "Nenhum registro encontrado",
                    sInfo: "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                    sInfoEmpty: "Mostrando 0 / 0 de 0 registros",
                    sInfoFiltered: "(filtrado de _MAX_ registros)",
                    sSearch: "Pesquisar: ",
                    oPaginate: {
                        "sFirst": "Início",
                        "sPrevious": "Anterior",
                        "sNext": "Próximo",
                        "sLast": "Último"
                    }
                },
                "aaSorting": [[0, 'desc']],
            });
        });
    </script>
{% endblock %}