{% extends 'administrador/encaminhar_demanda.html' %}

{% block title_em %}Serviços disponiveis{% endblock %}
{% block lista %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Responsalvel</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for action in dados %}
        <tr>
            <td>{{ action.nome }}</td>
            <td>{{ action.responsavel }}</td>
            <td>
                <div class="dropdown">
                    <form method="get" action="{% url 'encaminhar-d-action' %}">
                        <input type="hidden" name="action" value="{{ action.action }}"/>
                        <input type="hidden" name="id" value="{{ action.id }}"/>
                        <input type="hidden" name="id_demanda" value="{{ id_demanda }}"/>
                        <button class="btn btn-info btn-sm" type="submit">
                            Encaminhar <i class="fa fa-send"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}